body {
    font-family: arial;
    color: white;
    background-color: #191B22;
}

h1 {
    background-color: #393F4F;
    width: 95%;
    margin: auto;
    margin-top: 1vh;
    font-size: 2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

iframe {
    border: none;
    width: 100%;
    height: 95%;
}

.normal {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 19.4vw;
    text-align: center;
}

.normal2 {
    position: absolute;
    top: 100%;
    height: 100vh;
    width: 19.4vw;
    text-align: center;
}
